.navbar {
  position: sticky; /* Make the navbar stick to the top */
  top: 0; /* Position it at the very top */
  z-index: 1000; /* Ensure it stays above other elements */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 95px;
  background-color: #4d291f; /* Dark background color */
  color: #FFF4E1; /* Light text color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a smaller shadow for subtle effect */
}

.footer {
  bottom: 0; /* Position it at the very top */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 75px;
  background-color: #4d291f; /* Dark background color */
  color: #FFF4E1; /* Light text color */
}


.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem; /* Space between nav items */
  margin: 0;
  padding: 0;
}

.nav-item {
  text-decoration: none;
  color: #FFF4E1;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 20px; /* Rounded button style */
  transition: all 0.3s ease;
}

.nav-item:hover {
  background-color: #A24E3B; /* Hover background */
  color: #ffffff; /* Text color on hover */
}

.nav-item:active {
  background-color: #5e3223; /* Active background */
  color: #FFF4E1;
}

