@media (max-width: 768px) {
    .image-container img {
      max-width: 100%; /* Allow images to scale down */
      height: auto; /* Adjust height proportionally */
    }
  }  

body {
    font-family: "Tw Cen MT", Arial, sans-serif;
    background-color: #f7f3f7; /* Soft purple background */
    color: #34495e; /* General text color */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  


